@media only screen and (min-width: 56rem) {

    .discover {
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .disc {
        /* padding: 0.5rem; */
        margin: 0.5rem;
        grid-template-areas:
            "name"
            "location"
            "description"
            "photograph"
            "button";
    }
}