body {
    font-family: "Roboto", sans-serif;
}

/**************** HEADER *****************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/*************** HAMBURGER ****************/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/************** NAVIGATION ***************/
.navigation {
    display: none;
    background-color: #3D405B;
    grid-row: 2;
    /* Move it to second row */
    grid-column: 1 / -1;
    /* Span all columns in row */
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    text-align: center;
}

.navigation li.current {
    background-color: #333;
    color: white;
}

.navigation a:hover {
    background-color: #333;
    color: white;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0;
}

/**************** FOOTER *****************/
footer {
    background-color: #eee;
    /* padding: 1rem 10px; */
    padding: 5px 10px;
    text-align: center;
}

footer .address {
    text-align: left;
}

footer .dates {
    text-align: left;
}

.social {
    /* border: dashed 1px red; */
    margin-top: 0;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: 5px 0 10px 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

.dates {
    /* background-color: #eee; */
    padding: 1px;
}


/****************** MAIN *******************/
main {
    /* border: dashed 1px blue; */
    margin: 0;
}

main section {
    background-color: #eee;
    margin-top: 1rem;
}

.card-section {
    /* border: dashed 1px red; */
    background-color: white;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #3D405B;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.hero img {
    width: 100%;
    height: auto;
}

.weather {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: start;
    justify-content: center;
    padding: 1rem
}

.weather img {
    width: 100%;
    height: auto;
}

.forecast {
    display: grid;
    grid-template-columns: auto;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    font-size: 1.1rem;
}

.button-menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 5px;
    padding-bottom: 5px;
}

.button-menu-hidden {
    display: none;
    /* justify-content: space-between;
    gap: 15px;
    margin: 5px;
    padding-bottom: 5px; */
}

.button-menu button {
    flex: 1;
}

.cards p {
    text-align: center;
    margin: 5px 0;
    padding: 1rem;
    /* background-color: #ccc; */
}

/* .credits {
    text-align: center;
    padding: 5px;
} */

.card {
    display: grid;
    align-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: solid 1px #333; */
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card p {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.completed {
    background-color: #333;
    color: white;
}

.not-completed {
    border: solid 1px;
}

.listings {
    grid-column: 1 / -1;
    background-color: white;
}

.listings div:nth-child(even) {
    background-color: #eee;
}

.listings div:nth-child(odd) {
    background-color: white;
}

.listings div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    font-size: 0.8rem;
    border: solid 1px #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.listings div span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}