body {
    font-family: "Roboto", sans-serif;
}

/**************** HEADER *****************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/*************** HAMBURGER ****************/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/************** NAVIGATION ***************/
.navigation {
    display: none;
    background-color: #3D405B;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: gray;
    color: white;
}

.navigation a:hover {
    background-color: #333;
    color: white;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0;
}

/**************** FOOTER *****************/
footer {
    /* background-color: #eee; */
    /* padding: 1rem 10px; */
    padding: 0 10px;
    text-align: center;
}

.social {
    /* border: dashed 1px red; */
    margin-top: 0;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: 5px 0 10px 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

.dates {
    background-color: #eee;
    padding: 1px;
}


/****************** MAIN *******************/
main {
    /* border: dashed 1px blue; */
    margin: 0;
}

main section {
    background-color: #eee;
    margin-top: 1rem;
}

.course-section {
    /* border: dashed 1px red; */
    background-color: white;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background-color: #3D405B;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.hero img {
    width: 70%;
    height: auto;
}

.button-menu {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 5px;
    padding-bottom: 5px;
}

.button-menu button {
    flex: 1;
}

.courses p {
    text-align: center;
    margin: 5px 0;
    padding: 1rem;
    background-color: #ccc;
}

.credits {
    text-align: center;
    padding: 5px;
}